/* Default Light Theme */
:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
  }
  
  /* Dark Theme */
  :root[data-theme='dark'] {
    --background-color: #333333;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  